<section class="flex justify-center items-center w-screen">
  <div class="flex flex-col justify-center items-center gap-2">
    <h1 class="flex flex-row justify-start items-center">
        <div class="font-bold text-6xl text-base-900">Todoish</div>
        <div class="text-2xl transform -translate-y-2">✅</div>
    </h1>
    <h2 class="text-lg">Share todos, grocery lists, or anything else!</h2>
  </div>
  <div>
  </div>
</section>
