<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Todoish", suffix: " · A sharable list!" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✅</text></svg>">

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-base-50">
    <header class="flex justify-center items-center w-screen">
      <section class="w-full max-w-xs md:max-w-5xl py-4">
        <a href="/" class="flex flex-row justify-start items-center">
          <div class="font-bold text-2xl md:text-4xl text-base-900">Todoish</div>
          <div class="text-xs md:text-base transform -translate-y-2">✅</div>
        </a>
      </section>
    </header>
    <%= @inner_content %>
    <div class="flex flex-row justify-center items-center w-screen">
      <div class="fixed bottom-0 w-full max-w-xs md:max-w-5xl py-4">
        <div>
          <span>Built with&nbsp;</span>
          <a href="https://elixir-lang.org/" target="_blank">⚗️</a>
          <a href="https://www.phoenixframework.org/" target="_blank">🐦</a>
          <a href="https://ash-hq.org/" target="_blank">🔥</a>
        </div>
        <div>
          <span>Made with&nbsp;</span>
          <a href="https://www.brettkolodny.com/" target="_blank">🍞</a>
        </div>
      </div>
    </div>
  </body>
</html>
